table > thead > tr > th {
  color: #fff;
  background-color: #7f8c8d;
}

#footer {
  margin-top: 20px;
  text-align: center;
}

.title {
  width: 130px;
  margin: auto;
  font-weight: bold;
}

.form-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit {
  text-align: center;
}

.center {
  text-align: center;
}

.btn-logout {
  padding: 13.5px;
  float: right;
}

.logout {
  color: #fff;
}
